# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

deps
build
crates/maa-z/config
crates/maa-z/debug
crates/maa-z/include
crates/maa-z/lib
crates/maa-z/MaaAgentBinary
.task
crates/target